amadeus==7.1.0
asgiref==3.8.1
certifi==2025.4.26
charset-normalizer==3.4.1
Django==4.2.20
djangorestframework==3.16.0
djangorestframework-simplejwt==5.5.0
gunicorn==20.0.4
idna==3.10
isodate==0.6.0
pycodestyle==2.5.0
PyJWT==2.9.0
pytz==2019.3
requests==2.32.3
six==1.13.0
sqlparse==0.5.3
typing-extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
whitenoise==5.0.1
