name: Build and deploy container app to EC2 - flignt-booking-engine

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push container image to Docker Hub
      uses: docker/build-push-action@v3
      with:
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/amadeusflightbookingdjango:${{ github.sha }}
        file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:      
    - name: Deploy to EC2 via SSH
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        port: 22
        script: |
          #echo "AMADEUS_CLIENT_ID=${{secrets.AMADEUS_CLIENT_ID}}" > ~/flight-booking.env
          #echo "AMADEUS_CLIENT_SECRET=${{secrets.AMADEUS_CLIENT_SECRET}}" >> ~/flight-booking.env
          echo "HOST_URL=${{secrets.HOST_URL}}" >> ~/flight-booking.env
          docker pull ${{ secrets.DOCKER_USERNAME }}/amadeusflightbookingdjango:${{ github.sha }}
          docker stop flight-booking || true
          docker rm flight-booking || true
          docker run -d \
            --name flight-booking \
            --env-file ~/flight-booking.env \
            -p 80:8000 \
            ${{ secrets.DOCKER_USERNAME }}/amadeusflightbookingdjango:${{ github.sha }}
